ion-content {
  background-color: transparent;
}
.modal-content {
  background-color: #ffffff;  /* Fondo sólido blanco para el modal */
  padding: auto;
  border-radius: 10px;
  width: auto;
  max-width: auto;  /* Limita el ancho */
  justify-items: auto;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);  /* Sombra para resaltar el modal */
  margin: 10;
}

.truck-animation {
  text-align: left;  /* Alinea el ícono del camión al centro */
  margin-top: 20px;
  animation: drive 5s infinite alternate;  /* Animación del camión */
}

@keyframes drive {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(90%);
  }
}

ion-button {
  --color: #ffffff;
  --border-radius: 5px;
  width: 100%;  /* Asegura que el botón ocupe todo el ancho disponible dentro del modal */
  margin-top: 20px;
}


