


.truck-animation {
  text-align: left;  /* Alinea el ícono del camión al centro */
  margin-top: 20px;
  animation: drive 5s infinite alternate;  /* Animación del camión */
}

@keyframes drive {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(90%);
  }
}

ion-button {
  --color: #ffffff;
  --border-radius: 5px;
  width: 100%;  /* Asegura que el botón ocupe todo el ancho disponible dentro del modal */
  margin-top: 20px;
}


