<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Login</ion-button>
    <ion-button expand="block" routerLink="/registro" type="submit">Registrarme</ion-button>
    <button ion-button class="link-button" (click)="ResetPass()">Reestablecer contraseña</button>

    
  </form>

  
 


  
</ion-content>



