<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button class="cancel" (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
      <ion-text color="danger">
        <p *ngIf="myForm.get('email')?.errors?.['required']">El correo es obligatorio.</p>
        <p *ngIf="myForm.get('email')?.errors?.['pattern']">Ingresa un correo válido (ejemplo&#64;gmail.com).</p>
      </ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Clave</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
      <ion-text color="danger">
        <p *ngIf="myForm.get('password')?.errors?.['required']">La clave es obligatoria.</p>
        <p *ngIf="myForm.get('password')?.errors?.['minlength']">La clave debe tener mínimo 6 caracteres.</p>
      </ion-text>
    </div>

    <!-- Mostrar un mensaje de error en caso de fallo de autenticación -->
    <ion-text color="danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </ion-text>

    <!-- Muestra un spinner mientras se autentica -->
    <ion-button expand="block" type="submit" [disabled]="myForm.invalid || isLoading">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
      <span *ngIf="!isLoading">Login</span>
    </ion-button>

    <ion-button expand="block" (click)="navigateToRegister()" type="button">Registrarme</ion-button>
    
    <ion-button fill="clear" class="link-button" (click)="resetPass()">Reestablecer contraseña</ion-button>
  </form>
</ion-content>