<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
      <ion-text color="danger">
        <p *ngIf="myForm.get('email')?.errors?.['required']">El correo es obligatorio.</p>
        <p *ngIf="myForm.get('email')?.errors?.['pattern']">Ingresa un correo válido (ejemplo&#64;gmail.com).</p>
      </ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Clave</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
      <ion-text color="danger">
        <p *ngIf="myForm.get('password')?.errors?.['required']">La clave es obligatoria.</p>
        <p *ngIf="myForm.get('password')?.errors?.['minlength']">La clave debe tener mínimo 6 caracteres.</p>
      </ion-text>
    </div>
    
    <ion-button expand="block" type="submit">Login</ion-button>
    <ion-button expand="block" (click)="navigateToRegister()" type="submit">Registrarme</ion-button>
    <button ion-button class="link-button"  (click)="resetPass()">Reestablecer contraseña</button> 
  </form> 
</ion-content>


