

ion-title {
  text-align: center; /* Centra el texto */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  color: white; /* Cambia el color del texto si es necesario para que sea visible sobre la imagen de fondo */
}

ion-fab {
  margin-top: var(--ion-safe-area-top, 0);
}

ion-fab {
  margin-bottom: var(--ion-safe-area-bottom, 0);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Salto de 10px hacia arriba */
  }
}

.bouncing {
  animation: bounce 1s infinite; /* Repite la animación cada segundo */
}

.map {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 1;
  transition: opacity 150ms ease-in;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;  /* Eleva el mapa por encima de otros elementos */
}

.map-visible {
  opacity: 1;
}

ion-menu::part(backdrop) {
  background-color: rgba(0, 0, 0, 0.562);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px rgba(15, 63, 5, 0.075);
}

.search-container {
  position: absolute;
  top: 1px; /* Asegura que esté debajo del header */
  left: 50%;
  transform: translateX(-50%); /* Centra el buscador horizontalmente */
  width: 80%; /* Ajusta el ancho del buscador */
  z-index: 10; /* Coloca el buscador por encima del mapa */
}

ion-searchbar {
  --border-radius: 20px; /* Bordes redondeados */
  --background: #ffffff; /* Fondo blanco del buscador */
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.recollection-modal {
  --background: white;
  --border-radius: 15px;
}




