

ion-title {
  text-align: center; /* Centra el texto */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  color: white; /* Cambia el color del texto si es necesario para que sea visible sobre la imagen de fondo */
}

ion-fab {
  margin-top: var(--ion-safe-area-top, 0);
}

ion-fab {
  margin-bottom: var(--ion-safe-area-bottom, 0);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Salto de 10px hacia arriba */
  }
}

.bouncing {
  animation: bounce 1s infinite; /* Repite la animación cada segundo */
}

.map {
  position: absolute;
  height: 93%;
  width: 100vw;
  background-color: transparent;
  opacity: 1;
  transition: opacity 150ms ease-in;  
}

.map-visible {
  opacity: 1;
}





