<ion-header>
  <ion-toolbar color="success">
    <ion-title>RecolectApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="map" #map>

  </div>

  <!-- Botón flotante en la esquina superior izquierda -->
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-icon name="chevron-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button class="bouncing" (click)="toggleAuthModal()"> <!-- Cambié openLoginModal() por toggleAuthModal() -->
      <ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
    </ion-fab-button>
  </ion-fab>

  <!-- Botón flotante con logo en la parte inferior derecha -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="triple-size-button">
      <img
        src="/assets/img/logo.jpeg"
        alt="Logo"
        style="width: 45px; height: 45px; border-radius: 50%"
      />
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button style="--width: 40px; --height: 40px">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button style="--width: 40px; --height: 40px">
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
