<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button class="cancel" (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-section">
    <ion-avatar>
      <img [src]="userProfileImage" alt="Foto de perfil">
    </ion-avatar>
    <h2>{{ userName }}</h2>
    <p>{{ userEmail }}</p>
    <ion-button (click)="changeProfilePicture()">Cambiar Foto</ion-button>
  </div>

  <ion-item>
    <ion-label position="floating">Teléfono</ion-label>
    <ion-input [(ngModel)]="userPhone" type="tel" maxlength="9" placeholder="Introduce tu número de teléfono"></ion-input>
  </ion-item>

  <!-- Mensaje de error si hay un problema con el teléfono -->
  <p *ngIf="phoneErrorMessage" style="color: red;">{{ phoneErrorMessage }}</p>

  <!-- Mensaje de éxito si el número se actualiza correctamente -->
  <p *ngIf="successMessage" style="color: green;">{{ successMessage }}</p>

  <ion-button expand="block" (click)="updatePhone()">Actualizar Número</ion-button>
  <ion-button expand="block" (click)="logout()">Cerrar Sesión</ion-button>
  <ion-button expand="block" color="danger" (click)="confirmDeleteAccount()">Eliminar Cuenta</ion-button>
</ion-content>
